.App {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://www.stockvault.net//data/2020/12/31/282149/thumb16.jpg);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: monospace;
  color: aliceblue;
  font-size: 20px;
}
